<div id="id_thread_{{thread.id}}" class="card" style="margin-top: 30px;">
  <header class="card-header">
    <p class="card-header-title">
      {% if thread.user == request.user %}
      <a style="color: inherit" href="{% url 'users:profile' %}">
      {% else %}
      <a style="color: inherit" href="{% url 'users:user_profile' thread.user %}">
      {% endif %}
      {{thread.user.first_name}} {{thread.user.last_name}}
      </a>
    </p>
    <span style="cursor: default;" class="card-header-icon is-small is-light ">{{thread.date_created|timesince}} ago</span>
  </header>
  <div class="card-content">
    <div class="content">
      <p class="subtitle is-size-5 is-size-6-mobile">
      <a href="{% url 'discussion:discussion_detail' thread.discussion.id %}">{{thread.content}}</a>
      </p>


        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">Likes</span>
            <span id="id_thread_likes_count_{{thread.id}}" class="tag is-info">{{thread.likes}}</span>
          </div>
        </div>


    </div>
  </div>
{% if thread.user == request.user %}
    <footer class="card-footer">
      <a  class="card-footer-item">
        <button onclick="deleteThread(this)" name="{{thread.id}}" class="button is-small is-light">Delete</button>
      </a>
      <a  class="card-footer-item">
        {% if thread in saved_threads %}
        <button onclick="saveThread(this)" id="id_thread_save_button_{{thread.id}}" name="{{thread.id}}" class="button is-small is-success">Saved</button>
        {% else %}
        <button onclick="saveThread(this)" id="id_thread_save_button_{{thread.id}}" name="{{thread.id}}" class="button is-small is-light">Save</button>
        {% endif %}
      </a>
    </footer>
{% else %}
<footer class="card-footer">
  {% if thread.reported %}
<a class="card-footer-item is-idle">
  <button id="id_thread_report_button_{{thread.id}}" name="{{thread.id}}" class="button is-small is-danger is-idle">Reported</button>
</a>
{% else %}
<a id="id_thread_report_a_{{thread.id}}" class="card-footer-item">
  <button onclick="reportThread(this)" id="id_thread_report_button_{{thread.id}}" name="{{thread.id}}" class="button is-small is-light">Report</button>
</a>
{% endif %}
<a  class="card-footer-item">
  {% if thread in liked_threads %}
  <button onclick="likeThread(this)" id="id_thread_like_button_{{thread.id}}" name="{{thread.id}}" class="button is-small is-info">Liked</button>
  {% else %}
  <button onclick="likeThread(this)" id="id_thread_like_button_{{thread.id}}" name="{{thread.id}}" class="button is-small is-light">Like</button>
  {% endif %}
</a>
  <a class="card-footer-item">
    {% if thread in saved_threads %}
    <button onclick="saveThread(this)" id="id_thread_save_button_{{thread.id}}" name="{{thread.id}}" class="button is-small is-success">Saved</button>
    {% else %}
    <button onclick="saveThread(this)" id="id_thread_save_button_{{thread.id}}" name="{{thread.id}}" class="button is-small is-light">Save</button>
    {% endif %}  </a>
</footer>
{% endif %}
</div>
