{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<center><p class="subtitle is-size-5">About us</p></center>
<br>
<br>

<p style="color:blue;"  class="title is-size-5">The project</p>
<hr>
<p class="subtitle is-size-5">The DiscussPoint is an online platform where users can share their great ideas with a huge community. Users can discuss on any topic of their interest and ask for advice or give advice on another's discussions. It help the world to exchange their views and their great thinking.</p>
<br>
<p style="color:blue;"  class="title is-size-5">The people</p>
<hr>
<p class="subtitle is-size-5">The DiscussPoint is designed and developed by: </p> <br>
<p class="title is-size-3">Shikeb Khan</p>

{% endblock content %}
