{% extends 'core/base.html' %}
{% block content %}


<p Class="title is-size-5">Change password</p>
<hr>

{% if messages %}
    {% for message in messages %}
<article class="message is-{{message.tags}}">
  <div class="message-body">
    {{message}}
  </div>
</article>
 {% endfor %}
 {% endif %}

<div class="columns is-centered has-text-centered">
<div class="column is-wider is-narrow-tablet is-half-desktop">
      <div class="card" style="border: 2px solid #3298DC;">
         <div class="card-content">

            <form method="post" >
               {% csrf_token %}

               <div class="field">
                   <p class="control has-icons-left has-icons-right">
                       <input class="input " autocomplete="off" name="old_password" type="password" placeholder="Enter your old password" required id="id_password2">
                       <span class="icon is-small is-left">
                       <i style="color: black;" class="material-icons">lock</i>
                       </span>
                                                       </p>
                           <p class="help is-danger">
                       {% if form.old_password.errors %}
                   <ul>
                       {% for error in form.old_password.errors %}
                       <li><strong style="color: red;">{{ error|escape }}</strong></li>
                       {% endfor %}
                   </ul>
                   {% endif %}
                   </p>
               </div>

               <div class="field">
                   <p class="control has-icons-left has-icons-right">
                       <input class="input " autocomplete="off" name="new_password" type="password" placeholder="Enter your new password" required id="id_password2">
                       <span class="icon is-small is-left">
                       <i style="color: black;" class="material-icons">lock</i>
                       </span>
                                                       </p>
                           <p class="help is-danger">
                       {% if form.new_password.errors %}
                   <ul>
                       {% for error in form.new_password.errors %}
                       <li><strong style="color: red;">{{ error|escape }}</strong></li>
                       {% endfor %}
                   </ul>
                   {% endif %}
                   </p>
               </div>

               <div class="field">
                   <p class="control has-icons-left has-icons-right">
                       <input class="input " autocomplete="off" name="confirm_password" type="text" placeholder="Confirm your new password" required id="id_password2">
                       <span class="icon is-small is-left">
                       <i style="color: black;" class="material-icons-outlined">lock</i>
                       </span>
                                                       </p>
                           <p class="help is-danger">
                       {% if form.confirm_password.errors %}
                   <ul>
                       {% for error in form.confirm_password.errors %}
                       <li><strong style="color: red;">{{ error|escape }}</strong></li>
                       {% endfor %}
                   </ul>
                   {% endif %}
                   </p>
               </div>

               <input type="hidden" name="id" value="1" id="id_id">

               <div class="field">
                  <p class="control">
                     <button type="submit"  class="button is-info is-fullwidth">
                     Update password
                     </button>
                  </p>
               </div>


            </form>

         </div>
      </div>

   </div>
</div>




{% endblock  %}
